<header ng-class="{'show':showNav,'fly':fly}">
	<div class="logo">
		<a href="#top" class="short-link">AM</a>
	</div>
	<nav>
		<button class="hide-menu" ng-click="menuOpen()"><i class="fa fa-bars"></i></button>
		<ul ng-class="{'active':menuIsOpen}" ng-click="menuClose()">
			<li><a href="#skills" class="short-link">{{LANG.MENU_SKILLS}}</a></li>
			<li><a href="#projects" class="short-link">{{LANG.MENU_PROJECTS}}</a></li>
			<li><a href="#contacts" class="short-link">{{LANG.MENU_CONTACTS}}</a></li>
			<li>
				<button ng-click="changeLang()">{{LANG.MENU_LANG}}</button>
			</li>
		</ul>

	</nav>
</header>

<h1>
	{{LANG.ARTIK}}
	<span ng-class="{'small':LNG=='en'}">{{LANG.MANGASARYAN}}</span>
	<label>{{LANG.SUBTITLE}}</label>
</h1>

<section class="content-block">

	<div class="row">
		<div class="col-md-4">
			<div class="avatar-box">
				<img src="/styles/images/me.jpg" alt="My photo">
			</div>
			<div class="padding-h hidden-sm hidden-xs">
				<button class="button" ng-click="modalOpen()">{{LANG.FEEDBACK}}</button>
			</div>
		</div>
		<div class="col-md-8">
			<div class="about-text">
				<div>
					<label>{{LANG.INFO_B_DAY_Q}}:</label>
					<p>{{LANG.INFO_B_DAY_A}}</p>
				</div>
				<div>
					<label>{{LANG.INFO_UNIVER_Q}}:</label>
					<p>{{LANG.INFO_UNIVER_A}}</p>
				</div>
				<div>
					<label>{{LANG.INFO_DEP_Q}}:</label>
					<p>{{LANG.INFO_DEP_A}}</p>
				</div>
				<div>
					<label>{{LANG.INFO_EXP_Q}}:</label>
					<p>{{EXP}} {{LANG.INFO_EXP_A}}</p>
				</div>
				<div>
					<label>{{LANG.INFO_CONTACTS_Q}}:</label>
					<p>
                        <span>
                            <a href="tel:+79062824201" rel="nofollow">
                                <i class="fa fa-phone"></i>
                                +7 906 282-42-01
                            </a>
                        </span>
						<span>
                            <a href="mailto:mail@artik.me" rel="nofollow">
                                <i class="fa fa-envelope"></i>
                                mail@artik.me
                            </a>
                        </span>
						<!--<span>
                            <a href="skype:art-man-1994?call" rel="nofollow">
                                <i class="fa fa-skype"></i>
                                art-man-1994
                            </a>
                        </span>-->
						<span>
                            <a href="https://vk.com/artik_man" target="_blank" rel="nofollow">
                                <i class="fa fa-vk"></i>
                               {{LANG.ARTIK}} {{LANG.MANGASARYAN}}
                            </a>
                        </span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row hidden-lg hidden-md">
		<div class="col-sm-offset-3 col-sm-6 col-xs-12 padding-v padding-h-10">
			<button class="button" ng-click="modalOpen()">{{LANG.FEEDBACK}}</button>
		</div>
	</div>

</section>

<h2 id="skills">{{LANG.TITLE_SKILLS}}</h2>

<section class="content-block text-center"
		 slick
		 dots="true"
		 infinite="true"
		 speed="500"
		 init-onload="true"
		 data="skills"
		 slides-to-show="5"
		 autoplay="true"
		 autoplay-speed="2000"
		 responsive="slickResp">
	<div class="skill-group" ng-repeat="g in slickGroups">
		<div class="skill" ng-repeat="skill in g">
			<div class="image-box">
				<img ng-src="/styles/images/skills/{{skill.image}}" alt="{{skill.title}}">
			</div>
		</div>
	</div>
</section>

<h2 id="projects">{{LANG.TITLE_PROJECTS}}</h2>

<section class="content-block projects">

	<div class="project" ng-repeat="item in portfolioPiece">
		<h4><a href="{{item.link}}" target="_blank">{{item.title[LNG]}}</a></h4>
		<div class="box">
			<div class="info">
				<h5 ng-if="item.description[LNG].length">{{LANG.PARTICIPATION}}:</h5>
				<p>{{item.description[LNG]}}</p>
				<h5 ng-if="item.technologies.length">{{LANG.TECHNOLOGIES}}: </h5>
				<ul>
					<li ng-repeat="t in item.technologies">{{t}}</li>
				</ul>
			</div>
			<div class="image-box">
				<a href="{{item.link}}" target="_blank" class="link">
					<img ng-src="/styles/images/projects/{{item.image}}" alt="{{item.title[LNG]}}">
					<span class="link-info"><span class="text">{{LANG.OPEN_IN_A_NEW_TAB}}</span></span>
				</a>
			</div>
		</div>
	</div>
	<div class="project" ng-if="portfolioPiece.length < portfolio.length">
		<h4 class="show-more" ng-click="showMoreProjects()">{{LANG.SHOW_MORE}}</h4>
	</div>
</section>

<h2 id="contacts">{{LANG.TITLE_CONTACTS}}</h2>

<section class="content-block">
	<div class="contacts">
		<label>
			<span><i class="fa fa-phone"></i>{{LANG.PHONE}}:</span>
			<a href="tel:+79062824201" rel="nofollow">+7 906 282-42-01</a>
		</label>
		<label>
			<span><i class="fa fa-envelope"></i>{{LANG.MAIL}}:</span>
			<a href="mailto:mail@artik.me" rel="nofollow">mail@artik.me</a>
		</label>
		<!--<label>
			<span><i class="fa fa-skype"></i>{{LANG.SKYPE}}:</span>
			<a href="skype:art-man-1994?call" rel="nofollow">art-man-1994</a>
		</label>-->
		<label>
			<span><i class="fa fa-vk"></i>{{LANG.VK}}:</span>
			<a href="https://vk.com/artik_man" target="_blank" rel="nofollow">{{LANG.ARTIK}} {{LANG.MANGASARYAN}}</a>
		</label>
		<div class="padding-t">
			<button class="button" ng-click="modalOpen()">{{LANG.FEEDBACK}}</button>
		</div>
	</div>

</section>
