<div class="c-modal">
	<div class="call-form" ng-class="{'error':styles.error_cat}">
		<h3>{{LANG.FEEDBACK}}</h3>
		<form ng-submit="submit(this)" ng-show="styles.form">
			<label>
				<input type="text" placeholder="{{LANG.INPUT_NAME}}" ng-model="data['entry.878354685']"
					   ng-class="{'err':styles.err.name}">
			</label>
			<label>
				<input type="email" placeholder="{{LANG.INPUT_MAIL}}" ng-model="data['entry.1171937833']"
					   ng-class="{'err':styles.err.mail}">
			</label>
			<label>
					<textarea placeholder="{{LANG.INPUT_MESSAGE}}" ng-model="data['entry.246362975']"
							  ng-class="{'err':styles.err.text}"></textarea>
			</label>
			<label>
				<input type="submit" value="{{LANG.SEND}}" ng-disabled="styles.disable">
			</label>
		</form>
		<div class="success" ng-show="styles.success">
			{{LANG.MESS_SUCCESS}}
		</div>
		<div class="error" ng-show="styles.error">
			{{LANG.MESS_ERROR}}
		</div>
	</div>
</div>