/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("SegoeUIRegular/SegoeUIRegular.eot");
    src: url("SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("SegoeUIBold/SegoeUIBold.eot");
    src: url("SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBlack"; */
@font-face {
    font-family: "SegoeUIBlack";
    src: url("SegoeUIBlack/SegoeUIBlack.eot");
    src: url("SegoeUIBlack/SegoeUIBlack.eot?#iefix")format("embedded-opentype"),
    url("SegoeUIBlack/SegoeUIBlack.woff") format("woff"),
    url("SegoeUIBlack/SegoeUIBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
    font-family: "SegoeUIItalic";
    src: url("SegoeUIItalic/SegoeUIItalic.eot");
    src: url("SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
    font-family: "SegoeUILight";
    src: url("SegoeUILight/SegoeUILight.eot");
    src: url("SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("SegoeUILight/SegoeUILight.woff") format("woff"),
    url("SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
    font-family: "SegoeUISemiBold";
    src: url("SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoePrint"; */
@font-face {
    font-family: "SegoePrint";
    src: url("SegoePrintRegular/SegoePrintRegular.eot");
    src: url("SegoePrintRegular/SegoePrintRegular.eot?#iefix")format("embedded-opentype"),
    url("SegoePrintRegular/SegoePrintRegular.woff") format("woff"),
    url("SegoePrintRegular/SegoePrintRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
