<div class="about">
  <div class="row">
    <div class="ava-box">
      <picture class="ava">
        <source srcset="assets/images/me.webp" type="image/webp"/>
        <source srcset="assets/images/me.png" type="image/png"/>
        <img src="assets/images/me.png" alt="Artik Man — frontend-developer" width="480" height="480"/>
      </picture>
    </div>
    <blockquote>Heavy JavaScript&#8209;frameworks should&nbsp;be&nbsp;used only&nbsp;where&nbsp;necessary</blockquote>
  </div>
  <table>
    <tr>
      <th>Commercial Experience</th>
      <td><span id="exp">{{ data.experience }} years</span></td>
    </tr>
    <tr>
      <th>Languages</th>
      <td><span class="nowrap">Russian (native),</span><span> </span><span
          class="nowrap">English (Pre-Intermediate)</span></td>
    </tr>
    <tr>
      <th>Current location</th>
      <td>
        <a class="no-print-href" target="_blank" rel="noreferrer"
           href="https://www.google.com/maps/place/St+Petersburg,+Russia/@59.9390095,29.5303098,9z/data=!3m1!4b1!4m5!3m4!1s0x4696378cc74a65ed:0x6dc7673fab848eff!8m2!3d59.9342802!4d30.3350986">
          <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="24"
               height="24">
            <use href="./assets/sprite.svg#location.svg"></use>
          </svg>
          <span>Russia,&nbsp;<span class="nowrap">St. Petersburg</span></span>
        </a>
      </td>
    </tr>
    <tr>
      <th>Current Job</th>
      <td>
        Lead Software Engineer and Teamlead at
        <a href="https://diasoft.ru/" target="_blank" rel="noreferrer">Diasoft</a>
      </td>
    </tr>

    {% for contact in data.contacts %}
      <tr>
        <th>{{ contact.label }}</th>
        <td><a class="no-print-href" href="{{ contact.url }}" aria-label="{{ contact.label }}" rel="noreferrer">
            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="24"
                 height="24">
              <use href="./assets/sprite.svg#{{ contact.iconClass }}"></use>
            </svg>
            <span class="text">
          {% if contact.fullText %}
            {{ contact.fullText }}
          {% else %}
            {{ contact.text }}
          {% endif %}
        </span>
          </a>
        </td>
      </tr>
    {% endfor %}

  </table>
</div>
