<section>
  <h2 class="no-print">Key skills</h2>
  <ul class="skills notranslate">
    <li>
      HTML
      <ul>
        <li>Nunjucks</li>
        <li>Pug</li>
        <li>Jade</li>
      </ul>
    </li>
    <li>
      CSS
      <ul>
        <li>LESS</li>
        <li>SCSS</li>
      </ul>
    </li>
    <li>
      JavaScript
      <ul>
        <li>NodeJS</li>
        <li>TypeScript</li>
        <li>Angular</li>
        <li>RxJS</li>
      </ul>
    </li>
    <li>
      Other
      <ul>
        <li>Web Components</li>
        <li>Micro-Frontends</li>
        <li>Angular/Schematics</li>
      </ul>
    </li>

  </ul>
</section>
