/* 
    Created on : 27.10.2015, 12:11:04
    Author     : Artik
*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=latin,cyrillic);

*{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300; 
}
a:focus{
    text-decoration: none;
    outline: none;
}
p{
    color: #434343;
}
input{
    display: block;
    width: 100%;
    margin: 11px 0 15px 0;
    height: 47px;
    border-radius: 3px;
    background: rgba(0,0,0,0);
    border: 1px solid #fff;
    padding: 10px;
}
textarea{
    display: block;
    width: 100%;
    background: rgba(0,0,0,0);
    margin: 11px 0 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    height: 158px;
    min-height: 50px;
    max-height: 250px;
    resize: vertical;
    padding: 10px;
}
.button{
    background: #02579F;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
}
.button:hover{
    opacity: .8;
    transition: opacity 150ms ease-in-out;
}

.page{

    overflow: hidden;}
.container{
    position: relative;
    /*    width: 977px;*/
}
.menu{
    background: #29abe2;
    border-bottom: 3px solid #1b83c5;
    height: 69px;
}
.nav-menu{
    display: inline-block;
    margin: 0 0 0 237px;
}
.nav-menu:before{
    content: "";
    width: 1px;
    height: 76px;
    display: inline-block;
    vertical-align: middle;
}
.nav-menu li{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    padding: 0 15px;
}
.nav-menu li.logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}
.nav-menu li.lang{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 66px;
    padding: 0;
}
.nav-menu li.lang .button{
    background: #41c2f9;
    border: none;
    display: block;
    width: 100%;
    height: 50%;
    font-size: 12px;
}
.nav-menu li.lang .button.selected{
    background: #1b83c5;
}
.nav-menu li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.banner{
    background: url(images/banner.jpg) no-repeat;
    height: 355px;
    background-position: 50% 0;
}
.banner .text{
    position: absolute;
    top: 118px;
    left: 0;
    width: 400px;
    height: 230px;
}
.banner .text h1{
    font-size: 30px;
    font-weight: 500;
    color: #1b83c5;
    margin: 0 0 15px 0;
    line-height: 1.2;
}
.banner .text .slide{
    position: absolute;
    width: 250px;
    bottom: 15px;
    left:200px;
    opacity: 0;
    transition: all 250ms ease-in-out;
}
.banner .text .slide:nth-child(2){
    left: 0px;
    opacity: 1;
}

.banner .text p{
    font-size: 16px;
    margin-bottom: 2px;
}
.banner .text p a{
    color: #434343;
}
.banner .slide-link{
    display: inline-block;
    position: relative;

}
.banner .slide-link:hover{
    text-decoration: none;
}
.banner .slide-link:hover:before{
    border-bottom: 2px solid #434343;
}
.banner .slide-link:before{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px dotted #434343;
    position: absolute;
    bottom: 0;
}
.banner .slide-link:after{
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    background: #434343;
    width: 13px;
    height: 13px;
    font-size: 7px;
    padding: 2px 2px;
    position: absolute;
    top: 6px;
    right: -23px;
}
.banner-2{
    background: #29AAE1 url(images/banner-2.jpg) no-repeat;
    height: 387px;
    background-position: 50% 0;
}
.banner-2 .text{
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
}
.banner-2 .text h2{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 44px 0 17px 0;
    border-bottom: 2px solid #45B9EC;
    padding-bottom: 15px;
}
.banner-2 .text p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: -1px;
}
.actual-vacancy{
    background: url(images/pattern-waves.png);
    padding: 82px 0 70px 0;
}
.actual-vacancy h2{

    margin: 0 0 36px 0;font-size: 30px;font-weight: 300;color: #1b83c5;}
.actual-vacancy iframe{
    width: 960px;
    height: 583px;
    border: none;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.frame-block{
    width: 100%;
    height: 580px;
    overflow:hidden;
    position:relative;
    border-radius: 10px;
}
.frame-block iframe{
    position:absolute;
    top: -60px;
    left: 0;
    width: 960px;
    height: 650px;
}
.respond{
    background: #006dc4 url(images/respond.jpg);
    background-size: cover;
    background-position: 50% 0;
    padding: 65px 0 76px 0;
}
.respond h2{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 30px 0;
}
.respond .inputs{
    float: left;
    width: 372px;
    padding: 0 0px;
}
.respond .textarea{
    float: right;
    width: 492px;
}
.respond label{
    display: inline-block;
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin: 4px 0 3px 0;
}
.respond .input-file{
    text-align: center;
    overflow: hidden;
    height: 26px;
    border: none;
    display: block;
    width: 170px;
    margin: 59px 10px 10px 0px;
    position: relative;
    cursor: pointer;
    float: left;
}
.respond .input-file .short-file{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0 1px 0 0;
    width: 140px;
    float: right;
}
.respond .input-file input{
    margin-top: -63px;
    margin-left:-410px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: -40px;
}
.respond .input-file:hover{
    text-decoration: none;
}
.respond .input-file .short-file:hover:before{
    border-bottom: 2px solid #fff;
}
.respond .input-file .short-file:before{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px dotted #fff;
    position: absolute;
    bottom: 3px;
}
.respond .input-file .short-file:after{
    content: "\e142";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    border-radius: 50%;
    color: #006dc4;
    background: #fff;
    width: 25px;
    height: 25px;
    font-size: 14px;
    padding: 3px 3px;
    position: absolute;
    top: 0px;
    left: 0;
}
.respond .button{
    float: right;
    margin: 50px 0 0 0;
    width: 150px;
    height: 47px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
    text-transform: uppercase;
}
.respond p{
    clear: both;
    color: #a1ddf6;
}
.contacts{
    background-image: url(images/contacts.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    padding: 0 0 0 0;
    height: 819px;
}
.contacts h2{
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin: 60px 0 0 0;
}
.contacts .text{
    position: absolute;
    width: 300px;
}
.contacts .text h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 2px 0;
    color: #fff;
}
.contacts .text p{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    margin: 0;
}
.contacts .text a{
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}
.contacts .text a:hover{
    text-decoration: none;
}
.contacts .text.spb{
    top: 306px;
    left: 0;
}
.contacts .text.ptz{
    top: 306px;
    left: 382px;
}
.contacts .text.arh{
    top: 306px;
    left: 676px;
}
.footer{
    background: #022f4d;
    border-top: 5px solid #0198d6;
    padding: 39px 0 47px 0;
}
.footer .text{

}
.footer .text h3{
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.footer .text p{
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer .text a{
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    text-decoration: none;
}
.footer .text a:hover{
    border-bottom-color: rgba(0,0,0,0);
}
.footer .ppx{
    position: absolute;
    right: 0;
    text-align: right;
    width: 400px;
    top: 27px;
}
.footer .ppx a{
    color: #fff;
}
.footer .ppx a:hover{
    text-decoration: none;
}
.footer .ppx a:hover span:first-child{
    border-bottom-color: rgba(0,0,0,0);
}
.footer .ppx a span:first-child{
    vertical-align: bottom;
    margin: 0 13px 0 0;
    display: inline-block;
    border-bottom: 1px solid #fff;
    line-height: 1.1;
}
.footer .ppx a span{
    margin: 0 13px 0 0;
    display: inline-block;
    text-decoration: none;
}
.footer .ppx a img{
    vertical-align: bottom;
    text-decoration: none;
}
.popup{

    padding: 10px 48px;}
.popup h2{

    margin: 4px 0 30px 0;font-weight: 300;color: #fff;font-size: 30px;}
.popup .inputs{

    float: left;
    width: 372px;
}
.popup .textarea{

    float: right;
    width: 476px;
}
.popup label{
    display: inline-block;
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin: 4px 0 3px 0;
}
.popup p{

    clear: both;
}
.popup .button{
    width: 150px;
    float: right;
    margin: 50px 0 15px 0;
}
.modal-dialog{
    width: 986px;
    margin: 100px auto;
}
.modal-content{
    background: url(images/respond.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border-radius: 0;
    border: none;
}
.modal-header{
    border-bottom: none;
}
.modal-header .close{
    color: #fff;
    opacity: 1;
    font-size: 17px;
    margin: 3px 0 0 0;
}
.modal-backdrop{
    background: rgba(4,94,165,1);
}
.modal-backdrop.in{
    opacity: .9;
}
.show-content{
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}
.show-content.show{
    opacity: 1;
}
.show-content .animation-block{
    transition: all 250ms ease-in-out 700ms;
    opacity: 0;
    position: relative;
    top:50px;
}
.show-content.show .animation-block
{
    opacity: 1;
    top:0;
}
@media(min-width:1418px){
    .banner {
        background-size: contain;
    }
    .banner-2 {
        background-size: contain;
    }
    .container{
        width: 977px;
    }
}
@media(max-width:1417px){
    .banner {
        background-size: cover;
    }
    .banner-2 {
        background-size: cover;
    }
    .container{
        width: 977px;
    }
}
@media(max-width:1199px){
    .container{
        width: 977px;
    }
    .modal-dialog{
        width: 90%;
        margin: 30px 5%;
    }
    .popup .inputs{
        width: 49%;
    }
    .popup .textarea{
        width: 49%;
    }
}
@media(max-width:991px){
    .banner {
        background-size: cover;
        background-position: 40% 0;
    }
    .banner .text{
        left: 100px;
    }
    .banner-2 {
        background-size: cover;
    }
    .banner-2 .text{
        padding: 15px;
        background: #29AAE1;
        width: 500px;
    }
    .banner-2 .text h2{
        margin-top: 24px;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .menu{
        height: 170px;
    }
    .nav-menu {
        display: block;
        margin: 0 0 0 0;
        position: relative;
        padding: 0;
    }
    .nav-menu li{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
        position: relative;
        top: -62px;
    }
    .nav-menu li.logo{
        top: 100px;
        left: 0;
    }
    .frame-block{
        width: 720px;
        margin: 0 auto;
    }
    .frame-block iframe{
        width: 768px;
        top: -60px;
        left: -21px;
    }
    .actual-vacancy h2{
        padding-left: 15px;
    }
    .respond{
        padding: 15px;
    }
    .respond h2{
        margin-top: 30px;
    }
    .respond .inputs{
        float: left;
        width: 49%;
        padding-right: 7px;
    }
    .respond .textarea{
        float: left;
        width: 49%;
        padding-left: 7px;
    }
    .contacts{
        padding: 15px;
    }
    .contacts .text{
        position: relative;
        width: 100%;
        margin: 30px 0;
    }
    .contacts .text.spb{
        top: 0px;
        left:0;
    }
    .contacts .text.ptz{
        top:0;
        left:0;
    }
    .contacts .text.arh{
        top:0;
        left:0;
    }
    .contacts {
        background-position: 25% 0;
        height: 100%;
    }
    .footer{
        padding: 15px;
    }
}
@media(max-width:767px){
    .banner {
        background-position: 0 0;
    }
    .banner .text {
        left: 50%;
        margin-left: -160px;
        width: 320px;
    }
    .banner-2 {
        height: 100%;
    }
    .banner-2 .text{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .frame-block{
        width: 106%;
        height: 560px;
    }
    .frame-block iframe{
        width: 100%;
    }
    .respond .inputs{
        float: left;
        width: 100%;
        padding: 0;
    }
    .respond .textarea{
        float: left;
        width: 100%;
        padding: 0;
    }
    .footer .ppx{
        position: static;
        width: 100%;
        text-align: left;
    }
    .popup .inputs{
        width: 100%;
    }
    .popup .textarea{
        float: left;
        width: 100%;
    }
}
@media(max-width:360px){
    .nav-menu li:not(.logo){
        text-align: left;
        padding-left: 15px;
    }
    .nav-menu li a{
        font-size: 16px;
    }
    .banner .text{
        width: 100%;
        left: 0;
        margin-left: 0;
        padding: 15px;
    }
    .banner .text h1{
        font-size: 24px;
    }
    .banner .text p{
        padding-left: 15px;
    }
    .banner .text .slide{
        bottom: 5px;
    }
    .frame-block{
        width: 100%;
        height: 700px;
    }
    .respond h2{
        font-size: 24px;
    }
    .respond .button{
        width: 100%;
        margin: 30px 0;
    }
    .contacts h2{
        font-size: 24px;
    }
    .popup{
        padding: 10px 15px;
    }
    .popup h2{
        font-size: 24px;
    }
    .popup .button{
        width: 100%;
    }
}