/* Webfont: Lato-Black */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Black.eot");
  src: url("font/Lato-Black.eot?#iefix") format("embedded-opentype"), url("font/Lato-Black.woff2") format("woff2"),
    url("font/Lato-Black.woff") format("woff"), url("font/Lato-Black.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 900;
}

/* Webfont: Lato-Heavy */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Heavy.eot");
  src: url("font/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("font/Lato-Heavy.woff2") format("woff2"),
    url("font/Lato-Heavy.woff") format("woff"), url("font/Lato-Heavy.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 800;
}

/* Webfont: Lato-Bold */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Bold.eot");
  src: url("font/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("font/Lato-Bold.woff2") format("woff2"),
    url("font/Lato-Bold.woff") format("woff"), url("font/Lato-Bold.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
}

/* Webfont: Lato-Semibold */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Semibold.eot");
  src: url("font/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("font/Lato-Semibold.woff2") format("woff2"),
    url("font/Lato-Semibold.woff") format("woff"), url("font/Lato-Semibold.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Regular.eot");
  src: url("font/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("font/Lato-Regular.woff2") format("woff2"),
    url("font/Lato-Regular.woff") format("woff"), url("font/Lato-Regular.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
}

/* Webfont: Lato-Light */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Light.eot");
  src: url("font/Lato-Light.eot?#iefix") format("embedded-opentype"), url("font/Lato-Light.woff2") format("woff2"),
    url("font/Lato-Light.woff") format("woff"), url("font/Lato-Light.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
}

/* Webfont: Lato-Thin */
@font-face {
  font-family: "Lato";
  src: url("font/Lato-Thin.eot");
  src: url("font/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("font/Lato-Thin.woff2") format("woff2"),
    url("font/Lato-Thin.woff") format("woff"), url("font/Lato-Thin.ttf") format("truetype");
  font-display: fallback;
  font-style: normal;
  font-weight: 100;
}
