/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.08.2015, 12:59:38
    Author     : Artik
*/
@font-face {
    font-family: "Museo";
    src: url(fonts/MuseoSansCyrl300.otf);
    font-weight: 300;
}
@font-face {
    font-family: "Museo";
    src: url(fonts/MuseoSansCyrl700.otf);
    font-weight: 700;
}
@font-face {
    font-family: "Museo";
    src: url(fonts/MuseoSansCyrl900.otf);
    font-weight: 900;
}
@font-face {
    font-family: "PH";
    src: url(fonts/PH600RegularCaps.otf);
    font-weight: 600;
}
@font-face {
    font-family: "MuseoW";
    src: url(fonts/MuseoSansCyrl300.woff);
    font-weight: 300;
}
@font-face {
    font-family: "MuseoW";
    src: url(fonts/MuseoSansCyrl700.woff);
    font-weight: 700;
}
@font-face {
    font-family: "MuseoW";
    src: url(fonts/MuseoSansCyrl900.woff);
    font-weight: 900;
}
@font-face {
    font-family: "PHW";
    src: url(fonts/PH600RegularCaps.woff);
    font-weight: 600;
}

*, 
body, 
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Museo", "MuseoW";
}
body{
    background-color: #A3CCEB;
}
.page{
    position: absolute;
    top:0;
    left:0;
    min-width: 960px;
    width: 100%;
    min-height: 100%;
}
.body{
    width:960px;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    min-height: 100%;
    background: #fff url(images/bottom-bg.jpg) 0 100% no-repeat;
    background-size: contain;
    padding-bottom: 100px;
}
.header{
    position: relative;
    width: 100%;
    display: block;
    font-size: 12pt;
    margin: 25px auto 0 auto;
}
.header.bg:before{
    content: "";
    background: url(images/top-bg.jpg) 0 0 no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 430px;
    position: absolute;
    top: -25px;
    z-index: 1;
}
.header div{
    z-index: 10;
}
.header .left-block{
    position: absolute;
    top: 10px;
    left: 100px;
    width: 250px;
    font-size: 10pt;
}
.header .right-block{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 250px;
    text-align: right;
    font-size: 10pt;
}
.header .logo{
    text-align: center;
    word-spacing: 10000px;
    position: relative;
}
.header .logo img{

}
.header .large-text{
    font-size: 28pt;
    display: block;
    font-family: "PH", "PHW";
}
.header .little-text{
    font-size: 14pt;
    vertical-align: top;
    font-family: "PH", "PHW";
}
.header .social{
    margin-top: 53px;
}
.header .menu{
    text-align: center;
    margin: 30px auto;
    z-index: 100;
    position: relative;
    width: 550px;
    font-family: "PH", "PHW";
}
.header .menu a,
.left-menu a{
    color: #000;
    text-decoration: none;
    padding: 30px 12px;
    text-transform: uppercase;
    font-family: "PH", "PHW";
    font-size: 16pt;
}
.header .menu a:hover,
.left-menu a:hover{
    color: #FA6B3B;
    text-decoration: underline;
}
.header .menu a.active,
.left-menu a.active{
    color: #FA6B3B;
    text-decoration: none;
}
.left-menu{
    width: 220px;

    float: left;
}
.left-menu a{
    padding: 0 0 20px 0;
    display: block;
    font-size: 14pt;
}
.left-menu h4{
    font-size: 16pt;      
    text-transform: uppercase;    
    margin: 10px 0;     
    font-weight: 600;   
    font-family: "PH", "PHW";

}
.left-menu p{
    font-weight: 300;

    padding-right: 55px;
}
.bg-top{
    background: url(images/bg-top.jpg) 50% 50% no-repeat;
    background-size: cover;
    width:960px;
    height: 600px;
    margin: -190px auto -50px auto;
}
.soc{
    background: url(images/social.png);
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 5px;
}
.soc.inst{
    background-position: -45px 0;
}
.soc.vk{
    background-position: 0 0;
}
.soc:hover{
    opacity: 0.7;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 100px 50px 100px;
}
.footer a.mail{
    display: inline-block;
    background: url(images/mail.png) 0  50% no-repeat;
    padding: 3px 5px 4px 45px;
    font-size: 12pt;
    color: #000;
}
.ft-block{
    border-top: 1px solid #000;
    padding-top: 21px;
}
.col-4{
    width:33.3333333333%;
    padding: 0;
    float: left;
    position: relative;
    display: block;
}
.col-6{
    width:50%;
    padding: 0;
    float: left;
    position: relative;
    display: block;
}
.col-8{
    width:66.6666666666%;
    padding: 0;
    float: left;
    position: relative;
    display: block;
}
.row{
    clear: both;
    display: table;
    width: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
    border:none;
}
.content{
    padding: 80px 100px;
    display: block;
    clear: both;
    z-index: 13;
    position: relative;
}
.content h3{
    font-size: 20pt;

    text-transform: uppercase;
    font-family: "PH", "PHW";
}
.event .date{
    font-size: 10pt;

    display: block;
    margin-top: 16px;
    color: #777;
}
.event p{
    padding-top: 6px;

    font-size: 12pt;
}
.event.red p{
    color: #FC6A30;

}
.banner{

}
.banner h2{
    margin-top: 100px;

    font-size: 26pt;
    line-height: 1.1;
    font-weight: 900;
}
.banner p{
    font-size: 18pt;

    padding-top: 8px;
    padding-bottom: 26px;
}
a.button{
    border-radius: 25px;
    background: #FC6A30;
    color:#fff;
    font-size: 14pt;
    padding: 12px 40px 12px 40px;
    text-decoration: none;
    display: inline-block;
}

.right-content{
    float: left;

    width: 530px;
    z-index: 100;
    position: relative;
}
.right-content h2{
    font-size: 22pt;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "PH", "PHW";
}
.right-content h3{
    font-size: 18pt;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: "PH", "PHW";
}
.right-content h4{
    font-size: 16pt;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 600;
    font-family: "PH", "PHW";
}
.right-content img{
    max-width: 250px;
    max-height: 350px;
}
.right-content img.left,
.more img.left{
    float: left;
    margin: 0 20px 20px 0;
}
.right-content img.right,
.more img.right{
    float: right;
    margin: 0 0 20px 20px;
}
.right-content p{
    padding-bottom: 20px;
    font-size: 11pt;
    line-height: 1.4;
}
.right-content ul{
    padding-bottom: 20px;
}
.right-content ul li{
    list-style-type: none;

}
.right-content ul li:before{
    content: " – ";
    color: #FC6A30;
}
.albums{

}
.albums .item{
    float: left;
    width: 49%;
    height: 250px;
    border:1px solid #FDB642;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    position: relative;
}
.albums .item:nth-child(2n+1){
    margin: 0 2% 2% 0;
}
.albums .item:nth-child(2n){
    margin: 0 0 2% 0;
}
.albums .item img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.albums .item .title{
    padding: 10px;
    height: 80px;
    background: #fff;
    position: relative;
    margin-top: -5px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.albums .item .title p{
    color: #111;
    padding-bottom: 5px;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.1;
}
.albums .item .title span{
    color: #777;
    font-size: 10pt;
}
.breadcrumb{
    font-size: 12pt;

    position: relative;
    margin: 0 0 15px 0;
}
.breadcrumb ul{

}
.breadcrumb li{
    display: inline-block;

}
.breadcrumb li a{
    color: #777;

    text-decoration: none;
    font-weight: 300;
}
.breadcrumb li:after{
    content: " / "
}
.breadcrumb li:before{
    content: "";
    display: none;
}
.breadcrumb li.active{

}
.breadcrumb li.active:after{
    content: "";
}
.breadcrumb li.active a{
    color: #111;

}
.breadcrumb span{
    position: absolute;

    top: 0;
    right: 0;
    color: #777;
    font-size: 10pt;
    font-weight: 300;
}
.gallery{

}
.gallery a{
    padding: 0 3px 6px 0;
    display: inline-block;
    width: 50%;
    float: left;
}
.gallery a:nth-child(2n){
    padding-right: 0;
    padding-left: 3px;
}
.gallery img{
    width: 100%;
    max-width: 270px;
    max-height: 210px;
}
.padding-0{
    padding: 0;
}
.padding-l-0{
    padding-left: 0;
}
.padding-l-10{
    padding-left: 10px;
}
.padding-l-25{
    padding-left: 25px;
}
.padding-r-0{
    padding-right: 0;
}
.padding-r-10{
    padding-right: 10px;
}
.padding-r-25{
    padding-right: 25px;
}
.padding-b-20{
    padding-bottom: 20px;
}
.image{
    border-radius: 5px;
    border:1px solid #FDB642;
    width: 100%;
    min-height: 100px;
    max-height: 350px;
}
.suvenirs{

}
.suvenirs .item{
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    color: #111;
    display: block;
}
.suvenirs .item:last-child{
    border-bottom: none;
}
.suvenirs .item img{
    width: 100%;

}
.suvenirs .item h4{
    margin-top: 0;

}
.suvenirs .item h4 .light-text{
    font-size: 14pt;

    font-family: "PH", "PHW";
    color: #777;
    padding-left: 10px;
}
.suvenirs .item p{
    padding: 0;

}
.suvenirs .item table{
    width: 100%;

}
.suvenirs .item table th{
    font-weight: 300;

    font-size: 10pt;
    text-align: left;
    padding-right: 5px;
}
.suvenirs .item table td{
    font-size: 10pt;

}
.suvenirs .item table span{
    font-weight: 700;

}

.more{
    display: none;
    width: 800px;
    padding: 50px;
}
.more h2{
    font-family: "PH", "PHW";

    font-size: 22pt;
    color: #000;
    margin: 0 0 20px 0;
}
.more h4{
    font-family: "PH", "PHW";

    font-size: 18pt;
    color: #000;
    margin: 20px 0 10px 0;
}
.more img{
    margin-right: 10px;
    height: 350px;
    float: left;
}
.more p{
    padding-bottom: 15px;

}
.more ul{

}
.more ul li{
    list-style-type: none;

}
.more ul li:before{
    content: " – ";
    color: #FC6A30;
}
.price{
    width: 100%;
    border-collapse: collapse;
}
.price thead{


}
.price th{
    text-align: center;
    font-size: 11pt;
    font-weight: 700;
    padding: 10px 0 20px 0;
}
.price th:first-child{
    text-align: left;
}
.price thead tr{
    border-bottom: 1px solid #777;
}
.price tbody tr:first-child td{
    color: #aaa;
    font-style: italic;
    font-size: 11pt;
    padding: 8px 0 15px 0;
    border: none;
}
.price tbody tr td:nth-child(2){
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
.price tbody tr:last-child td{
    border-bottom: none;
}
.price td{
    text-align: center;
    font-size: 11pt;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #ddd;
}
.price td:first-child{
    text-align: left;
}
.price thead th:nth-child(2){
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}
.price tbody tr td:first-child{
    border-left: none;
}
.price tbody tr:nth-child(2) td{
    border-top:none;
}
.gray{
    color: #777;
}
.frm{

}
.frm .frm-mr-220{
    margin-left: -220px;

}
.frm .frm-txt{
    display: inline-block;

    width: 220px;
    text-align: right;
    vertical-align: top;
    font-size: 11pt;
    padding: 20px 10px;
}
.frm .frm-input{
    display: inline-block;

    width: 520px;
    padding: 10px 0;
}
.frm input{
    width: 50%;

    padding: 10px 5px;
}
.frm textarea{
    width: 100%;
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
    height: 200px;
    padding: 10px;
    margin-bottom: 25px;
}
@media(min-width:1250px){
    .body{
        width:1200px;
        margin-left: -600px;
    }
    .bg-top{
        width:1200px;
        height: 640px;
        margin: -190px auto -50px auto;
    }
    .right-content {
        width: 778px;
    }
    .albums .item{
        width:31%;
        margin: 0 1% 2% 0;
    }
    .albums .item:nth-child(2n+1){
        margin: 0 1% 2% 0;
    }
    .albums .item:nth-child(2n){
        margin: 0 1% 2% 0;
    }
    .gallery a{
        width: 33%;
        padding: 0 5px 3px 0;
    }
    .gallery a:nth-child(2n){
        padding: 0 5px 3px 0;
    }
    .right-content img{
        max-width: 380px;
        max-height: 480px;
    }
    .more{
        width: 1000px;
    }
    .more img{
        height: 450px;
    }
    .frm .frm-input{
        width: 770px;
    }
}