// out: false

$phone_landscape: 500px;
$tablet: 700px;
$laptop: 1300px;
$tv: 2400px;

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin font-primary {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

:root,
html {
  --hue: 224;
  --primary: oklch(0.25 0.03 var(--hue));
  --accent: oklch(.85 0.03 var(--hue));
}

.reverse {
  transform: scale(-1, 1);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--primary);

  body {
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px oklch(from var(--primary) l c h /.3);
      background-color: var(--primary);
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: var(--accent);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px oklch(from var(--primary) l c h /.3);
      background-color: var(--accent);
    }
  }

}
