@import "fonts/lato/lato.css";
@import "fonts/segoe/segoe.css";
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .hidden-md {
    display: none;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
#font .lato .bold {
  font-family: "LatoBold", sans-serif;
}
#font .lato .medium {
  font-family: "LatoRegular", sans-serif;
}
#font .lato .light {
  font-family: "LatoLight", sans-serif;
}
#font .segoe .bold {
  font-family: "SegoeUIBlack", fantasy;
}
#font .segoe .medium {
  font-family: "SegoeUIRegular", fantasy;
}
#font .segoe .light {
  font-family: "SegoeUILight", fantasy;
}
#font .segoe .print {
  font-family: "SegoePrint", fantasy;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: "LatoRegular", sans-serif;
}
.body {
  background: #ccc url(images/bg.jpg);
  position: relative;
  height: 100vh;
}
.body .page {
  position: relative;
  background: #D03322;
  padding: 50px;
  max-width: 1170px;
  margin: 100px auto 0 auto;
}
.body .page .container {
  position: relative;
}
.button {
  cursor: pointer;
  width: 100%;
  display: block;
  border: 1px solid #D03322;
  background: #D03322;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  padding: 15px;
  outline: none !important;
  text-align: center;
  text-decoration: none !important;
  font-size: 14px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.button:hover {
  background: #fff;
  color: #D03322;
}
.button:focus {
  color: #fff;
}
.padding-h {
  padding: 0 10%;
}
.padding-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
header {
  position: absolute;
  color: #fff;
  z-index: 1;
  width: 100%;
  height: 40px;
  display: table;
}
header a {
  color: inherit;
  text-decoration: none !important;
  text-transform: uppercase;
}
header a .fa {
  margin-right: 10px;
}
header .logo {
  display: table-cell;
}
header .logo a {
  font-size: 24px;
  font-family: "SegoeUIBlack", fantasy;
}
header nav {
  display: table-cell;
  vertical-align: middle;
}
header nav .hide-menu {
  display: none;
}
header nav ul {
  padding: 0;
  text-align: right;
  margin: 0;
}
header nav ul li {
  vertical-align: top;
  display: inline-block;
}
header nav ul li a {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 40px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
header nav ul li a:hover {
  color: #fff;
}
header nav ul li a:focus {
  color: rgba(255, 255, 255, 0.7);
}
header nav ul li.active {
  transform: translateY(8px);
  border-bottom: 4px solid #D03322;
}
h1 {
  position: relative;
  text-align: center;
  font-size: 200px;
  margin: 0;
  letter-spacing: -5px;
  padding: 50px 15px 130px 15px;
  text-transform: uppercase;
  color: #db3826;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: "SegoeUIBlack", fantasy;
}
h1 span {
  position: absolute;
  top: 41%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 54px;
  font-family: "SegoePrint", fantasy;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 400;
}
h1 label {
  position: absolute;
  top: 72%;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  font-size: 12px;
  font-family: "LatoRegular", sans-serif;
  letter-spacing: 4px;
}
h2 {
  text-transform: uppercase;
  padding: 70px 0;
  font-size: 42px;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  font-family: "SegoeUIBlack", fantasy;
}
.text-center {
  text-align: center;
}
.content-block {
  padding: 30px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.3);
}
.content-block.projects {
  padding-bottom: 0;
}
.content-block .skill {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-right: -4px;
  text-align: center;
}
.content-block .contacts {
  width: 340px;
  margin: 0 auto;
}
.content-block .contacts label {
  display: block;
  font-size: 18px;
  padding-bottom: 15px;
  color: #333;
}
.content-block .contacts label span {
  display: inline-block;
  width: 150px;
}
.content-block .contacts label span .fa {
  margin-right: 15px;
}
.content-block .contacts label a {
  color: #000;
  text-decoration: none;
}
.content-block .contacts label a:hover {
  text-decoration: underline;
}
.content-block .project a {
  display: block;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.content-block .project a:hover p {
  opacity: 0;
}
.content-block .project a:hover img {
  -webkit-filter: blur(0);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius='0');
  filter: blur(0);
}
.content-block .project a img {
  width: 100%;
  position: relative;
  -webkit-filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius='5');
  filter: blur(5px);
}
.content-block .project a p {
  display: block;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  color: #fff;
  transition: all 250ms ease-in-out;
  opacity: 1;
}
.content-block .project a p span {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin-right: -5px;
  font-size: 18px;
}
.content-block .project a p:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.avatar-box {
  padding: 40px;
  position: relative;
  top: -50px;
  background: #fff;
  left: 10%;
  width: 80%;
  -webkit-box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.3);
}
.avatar-box img {
  width: 100%;
}
.about-text {
  display: table;
  padding: 30px 0;
}
.about-text div {
  display: table-row;
  font-size: 18px;
}
.about-text div label {
  color: #333;
  display: table-cell;
  width: 240px;
  font-weight: 400;
  font-size: inherit;
}
.about-text div p {
  display: table-cell;
  padding-bottom: 15px;
  color: #000;
  font-size: inherit;
}
.about-text div p a {
  font-weight: 400;
  font-size: inherit;
}
.about-text div p span {
  display: inline-block;
  width: 100%;
  font-size: inherit;
}
.about-text div p span a .fa {
  margin-right: 15px;
  width: 20px;
}
.about-text div a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
.about-text div a:hover {
  text-decoration: underline;
}
.progress-content {
  width: 200px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
}
.progress-content .progress-item {
  overflow: hidden;
  width: 200px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-content .progress-item .round-progress {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #ccc;
  border-radius: 50%;
}
.progress-content .progress-item .round-progress .r {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
  margin: -10px;
}
.progress-content .progress-item .round-progress .r1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
  margin: -10px;
  border-left-color: #D03322;
  transform: rotate(-90deg);
}
.progress-content .progress-item .round-progress .r2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
  margin: -10px;
  border-top-color: #D03322;
  transform: rotate(-90deg);
}
.progress-content .progress-item .round-progress .r3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
  margin: -10px;
  border-right-color: #D03322;
  transform: rotate(-90deg);
}
.progress-content .progress-item .round-progress .r0 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
  margin: -10px;
}
.progress-content .progress-item .round-progress.green .r1 {
  border-left-color: #5cb85c;
}
.progress-content .progress-item .round-progress.green .r2 {
  border-top-color: #5cb85c;
}
.progress-content .progress-item .round-progress.green .r3 {
  border-right-color: #5cb85c;
}
.progress-content .progress-item .round-progress.orange .r1 {
  border-left-color: #f0ad4e;
}
.progress-content .progress-item .round-progress.orange .r2 {
  border-top-color: #f0ad4e;
}
.progress-content .progress-item .round-progress.orange .r3 {
  border-right-color: #f0ad4e;
}
.progress-content .text {
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
}
.progress-content img {
  margin: 0;
  transition: all 300ms ease-in-out 100ms;
  transform: scale(0.8);
  width: 100%;
}
.progress-content.active img {
  transform: scale(1);
}
.ngdialog-content {
  background: none;
  position: relative;
}
.c-modal {
  width: 100%;
}
.c-modal .success,
.c-modal .error {
  display: none;
  text-align: center;
}
.c-modal .close {
  position: absolute;
  width: 100%;
  height: 100%;
}
.c-modal .container {
  max-width: 1070px;
  margin: 0 auto;
}
.c-modal .call-form {
  margin-top: 50px;
  cursor: default;
  background: #fff url(images/cat.jpg) no-repeat;
  background-position: 0 100%;
  background-size: 17%;
  padding: 50px 10px;
  color: #000;
}
.c-modal .call-form h3 {
  font-family: "SegoeUIBlack", fantasy;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
}
.c-modal .call-form form {
  max-width: 400px;
  margin: 0 auto;
}
.c-modal .call-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 300;
  font-family: "LatoRegular", sans-serif;
}
.c-modal .call-form label input[type="text"],
.c-modal .call-form label input[type="email"] {
  display: block;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
}
.c-modal .call-form label textarea {
  width: 100%;
  display: block;
  resize: vertical;
  height: 80px;
  max-height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
}
.c-modal .call-form label input[type="submit"] {
  cursor: pointer;
  width: 100%;
  display: block;
  border: 1px solid #D03322;
  background: #D03322;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  padding: 15px;
  outline: none !important;
  text-align: center;
  text-decoration: none !important;
  font-size: 14px;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.c-modal .call-form label input[type="submit"]:hover {
  background: #fff;
  color: #D03322;
}
.c-modal .call-form label .err {
  border-color: #D03322 !important;
}
@media (max-width: 1200px) {
  .body .page {
    width: 980px;
  }
  .progress-content {
    padding: 20px;
  }
  .content-block .skill {
    width: 33%;
  }
  .c-modal .container {
    max-width: 880px;
  }
}
