<div class="c-modal">
    <div class="container">
        <div class="call-form">
            <h3>Обратная связь</h3>
            <form method="POST" action="/" id="mail-form">
                <label>
                    <input type="text" placeholder="Ваше имя" name="entry.878354685" id="name">
                </label>
                <label>
                    <input type="email" placeholder="Ваш e-mail" name="entry.1171937833" id="email">
                </label>
                <label>
                    <textarea placeholder="Сообщение" name="entry.246362975" id="text"></textarea>
                </label>
                <label>
                    <input type="submit" value="Отправить">
                </label>
            </form>
            <div class="success">
                Ваше сообщение доставлено.
            </div>
            <div class="error">
                Произошла какая-то ошибка...
            </div>
        </div>
    </div>
</div>