<section>
  <h2>Experience</h2>


  <ul class="lifeline" style="
    --current-year: {{ now.year }};
    --current-month: 12;
    --start-year: {{ lifeline[0].from.year }};
    --start-month: 1">

    {% for year in years %}
      <li class="line timeline"
          style="
            --start-year: {{ year }};
            --start-month: 1;
            --end-year: {{ year }};
            --end-month: 12"
          aria-hidden="true">
        <p>{{ year }}</p>
      </li>
    {% endfor %}

    {% for point in lifeline %}
      <li class="line {{ point.classes }}" style="
        --start-year: {{ point.from.year }};
        --start-month: {{ point.from.month }};
        --end-year: {{ point.to.year }};
        --end-month: {{ point.to.month }}">

        <section class="info">
          <h3 class="notranslate">
            {% if (point.url) %}
              <a href="{{ point.url }}" target="_blank" rel="noreferrer">{{ point.title }}</a>
            {% else %}
              <span>{{ point.title }}</span>
            {% endif %}
          </h3>

          {{ point.text | safe }}

          <p class="date">
            <time datetime="{{ point.from.year }}-{{ point.from.month }}-01">
              {{ months[point.from.month-1] }} {{ point.from.year }}
            </time>
            —
            {% if (point.to.year === now.year and point.to.month === now.month) %}
              <span>Until now</span>
            {% else %}
              <time datetime="{{ point.to.year }}-{{ point.to.month }}-01">
                {{ months[point.to.month-1] }} {{ point.to.year }}
              </time>
            {% endif %}
          </p>

        </section>
      </li>
    {% endfor %}

  </ul>
</section>

