{% include "_head.njk" %}

<div class="page">

  {% include "header.njk" %}

  <main>
    <h1 class="notranslate"><span>ARTIK</span>&nbsp;<span>MAN</span></h1>
    <p>Frontend&mdash;developer</p>

    {% include "about.njk" %}

    {% include "skills.njk" %}

    {% include "experience.njk" %}

    {% include "portfolio.njk" %}
  </main>
</div>

{% include "_footer.njk" %}
