<section>
  <h2 class="no-print">Key skills</h2>
  <ul class="skills notranslate">
    <li>HTML</li>
    <li>CSS</li>
    <li>LESS</li>
    <li>Pug</li>
    <li>GIT</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>RxJS</li>
    <li>NodeJS</li>
  </ul>
</section>
