// out: false
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  font-size: inherit;
  // &.icon_email {
  //   background-image: data-uri('./images/svg/email.svg');
  // }
  // &.icon_phone {
  //   background-image: data-uri('./images/svg/phone.svg');
  // }
  // &.icon_hh {
  //   background-image: data-uri('./images/svg/hh.svg');
  // }
  // &.icon_github {
  //   background-image: data-uri('./images/svg/github.svg');
  // }
  // &.icon_location {
  //   background-image: data-uri('./images/svg/location.svg');
  // }
}
