// out: false
.switch-theme {
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 150ms linear;
  background: @dark;

  &:hover {
    opacity: 1;
  }

  input[type='checkbox'] {
    .visually-hidden;

    &:checked + span {
      right: 25%;
      top: -10%;
      &:after {
        background: @light;
      }
    }
  }

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: right 150ms linear 50ms;
    &:after {
      content: '';
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(circle, white 55%, @dark 60%, white 65%);
    }
  }
}

.light {
  body {
    background: @light;
    color: @dark;
    &::before,
    &::after {
      box-shadow: 0 0 5vh 5vh @light, 0 0 5vh 5vh @light;
    }
  }
  a::after {
    background: @dark;
  }
  .icon {
    filter: invert(1);
  }
  .about {
    .ava-box {
      filter: grayscale(1) brightness(1.2);
      background: white;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        opacity: 0.1;
      }
    }
  }
  .experience {
    li {
      &::before {
        border-left-color: @dark;
      }
      h3 {
        &::after {
          background: @dark;
        }
      }
      .job,
      .edu {
        &:not(.no-line) {
          &::after {
            border-right: 1px solid fade(@dark, 70%);
          }
        }
        h4 {
          &::after {
            background: @dark;
          }
        }
      }
    }
    .merge {
      filter: invert(1);
    }
  }
  .portfolio {
    > li {
      border-left-color: @dark;
    }

    .description .image {
      opacity: 0.8;
    }
  }
}
