@media print {

  * {
    color: black;
    background: none;
  }

  .container {
    max-width: 100% !important;
  }

  html,
  body {
    background-color: white;
  }

  a {
    color: black;
  }

  body {

    &:before,
    &:after {
      display: none;
    }
  }

  .page {
    background: none;
    color: black;

    .icon {
      display: none;
    }

    header {
      display: none;
    }

    h1 {
      padding: 50px 0 0;
      font-size: 60px;

      small {
        font-size: 100%;
        display: inline;
        margin-left: 10px;
      }

      +.subtitle {
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
        letter-spacing: 0;
        color: #444;
      }
    }

    .ava {
      display: none;
    }

    cite {
      display: block;
      position: static;
      padding: 0 0 40px;
      font-size: 18px;
      text-align: left;
    }

    .about {
      table {
        margin: 0;
        font-size: 14px;
      }
    }

    h2 {
      font-size: 36px;
      padding: 50px 0 20px;
    }

    h3 {
      font-size: 18px;
    }

    .skills {
      ul {
        li {
          font-size: 14px;
        }
      }
    }

    .experience {

      .left,
      .right,
      .year {
        margin: 0;
        padding: 0 10px;

        &:before {
          display: none;
        }
      }

      .table {
        font-size: 14px;
        display: block;

        .tr {
          page-break-inside: avoid;
          padding: 10px 0;
          border-bottom: 1px solid #aaa;
          display: flex;
          flex-direction: row;

          &:first-child {
            display: none;
          }

          .td {
            padding: 0;
            margin: 0;
            border: none !important;
            display: block;

            &:first-child {
              order: 2;
            }

            &:nth-child(2) {
              order: -1;
            }

            &:last-child {
              order: 1;
              width: 200px;
            }
          }
        }
      }

      .year {
        text-align: left;

        .icon {
          display: none;
        }
      }
    }

    .project {
      page-break-inside: avoid;
      border: none;
      border-bottom: 1px solid #aaa;
      padding: 0 0 20px;
      margin: 0 0 20px;

      .description {
        padding: 0;
      }

      h3 {
        padding: 0 0 10px 0;
      }

      h4 {
        display: none;
      }

      .image {
        display: none;
      }

      ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          margin-right: 10px;
        }
      }
    }

    .no-print {
      display: none !important;
    }
  }

}