@import 'icons.less';
@import 'tools.less';
@import 'light-theme.less';
@import 'header.component.less';
@import 'about.component.less';
@import 'skills.component.less';
@import 'experience.component.less';
@import 'portfolio.component.less';

* {
  box-sizing: border-box;
  &::selection {
    background-color: lighten(@dark, 70%);
  }
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background: @dark data-uri('./images/svg/background.svg') right repeat-y;
  background-size: contain;
  font-weight: 300;
  color: fade(white, 80%);

  &::before,
  &::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    height: 0;
    box-shadow: 0 0 5vh 5vh @dark, 0 0 5vh 5vh @dark;
    z-index: 10;
    background: @dark;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
  @media (min-width: @tablet) {
    font-size: 20px;
  }
  @media (min-width: @tv) {
    font-size: 38px;
  }
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  @media (min-width: @tv) {
    max-width: 1800px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    transition: all 250ms ease-in-out;
    background: white;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

h1 {
  .font-primary;
  font-size: 22vw;
  font-weight: 200;
  margin: 17vh 0 0;
  line-height: 1;
  text-align: center;
  span + span {
    font-weight: 300;
  }
  @media (min-width: @tablet) {
    font-size: 5.6em;
  }
  @media (min-width: @laptop) {
    font-size: 7em;
  }
  + p {
    text-align: center;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    margin: 0 0 17vh;
    font-size: 4vw;
    line-height: 1;
    opacity: 0.8;
    @media (min-width: @tablet) {
      font-size: 1em;
    }
    @media (min-width: @laptop) {
      font-size: 1.24em;
    }
  }
}
h2 {
  .font-primary;
  font-weight: 200;
  font-size: 3em;
  text-transform: uppercase;
  margin: 15vh 0 5vh;
}
h3 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0 0 0.5em;
}
h4 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  font-weight: 300;
}
p {
  margin: 0 0 0.5em;
  &:last-child {
    margin-bottom: 0;
  }
}
ul {
  line-height: 1.4;
  margin: 0;
  padding: 0 0 0 1em;
}
b {
  font-weight: 400;
}

picture {
  display: block;
  img {
    display: block;
    width: 100%;
  }
}

cite {
  text-align: center;
  quotes: '«' '»';
  font-size: 1.5em;
  padding: 5vh 0;
  display: block;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

table {
  width: 100%;
  border: none;
  border-spacing: 0.5em;
  th {
    text-align: left;
  }

  th,
  td {
    font-weight: 300;
    vertical-align: top;
    padding: 0.2em 0;
  }
}
